// Colours
$colour-site-background: #EFEFEF;
$colour-text-highlighted: #DD2234;
$colour-link-active: #4C1A0F;
$colour-content-background: #FFFFFF;
$colour-copy: #222;
$colour-title: #222;
$colour-section-border: #000000;

// Metrics
$metrics-site-maxwidth: 1088; //in px
$metrics-mobile-maxwidth: 480px;
$metrics-tablet-maxwidth: 720px;
$metrics-desktop-maxwidth: 960px;