.banner {
  @include span-columns(6);
  @include shift(3);
  background: $colour-content-background;
  top: em(40);
  padding: em(20) 0 em(30) 0;
  border-top: em(32) solid $colour-section-border;
  border-bottom: em(12) solid $colour-section-border;
  margin-bottom: em(40);

  @include media($tablet) {
    @include span-columns(5);
    @include shift(1.5);
    font-size: 90%;
  }

  @include media($mobile) {
    @include span-columns(4);
    @include shift(0);
    font-size: 80%;
  }

  .banner_title {
    @extend .font-headline;
    text-align: center;
    text-transform: uppercase;
    font-size: 120%;
    margin: em(40) 0 em(10) 0;
    padding-bottom: em(40);
    border-bottom: em(12) solid $colour-section-border;
    color: $colour-title;
  }

  .banner_subtitle {
    margin-bottom: em(10);

    & + p,
    & + ul {
      margin-top: 0;
    }
  }

  .banner_image {
    display: block;
    margin: 0 auto;
    width: 80%;
    max-width: em(240);
    height: auto;
  }
}