<!doctype html>
<html>
  <head>
    <title><%= appname %></title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-rim-auto-match" content="none">

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=1"/>
    <link rel="shortcut icon" href="favicon.ico">
    
    <!-- build:css(.tmp) styles/application.css -->
    <link rel="stylesheet" href="styles/application.css">
    <!-- endbuild -->
  </head>
  <body>    

    <div class="wrapper">
      <section class="banner">
        <img src="images/yeoman-sizzle.png" class="banner_image"/>
        <h1 class="banner_title">You're all set to sizzle!</h1>
        <h2>Your JS app now has:</h2>
        <ul>
          <li>UnderScore</li>
          <li>TweenMax</li>
          <li>jQuery</li>
          <li>RequireJS</li>
          <li>FastClick</li>
          <li>jsSignals</li>
        </ul>
        <p>Go out and play!</p>
      </section>
    </div>

    <!-- build:js({.tmp}) scripts/application.js -->
    <script type="text/javascript" src="scripts/application.js"></script>
    <!-- endbuild -->
  </body>
</html>
