<!doctype html>
<html>
  <head>
    <title>generator sizzle test</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-rim-auto-match" content="none">

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=1"/>
    
    <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    
    <!-- build:css(.tmp) styles/application.css -->
    <link rel="stylesheet" href="styles/application.css">
    <!-- endbuild -->
  </head>
  <body>    

    <div class="wrapper">
      <section class="banner">
        <img src="images/yeoman-sizzle.png" class="banner_image"/>
        <h1 class="banner_title">You're all set to sizzle!</h1>
        <div class="contents">
          <h2 class="banner_subtitle">Installed JS libraries:</h2>
          <ul class="list-inline">
            <li><a href="http://underscorejs.org/" target="_blank">Underscore.js</a>,</li>
            <li><a href="http://greensock.com/tweenmax" target="_blank">TweenMax</a>,</li>
            <li><a href="http://jquery.com/" target="_blank">jQuery</a>,</li>
            <li><a href="http://requirejs.org/" target="_blank">RequireJS</a>,</li>
            <li><a href="https://github.com/ftlabs/fastclick" target="_blank">FastClick</a>,</li>
            <li><a href="http://millermedeiros.github.io/js-signals/" target="_blank">js-signals</a></li>
          </ul>
          <h2 class="banner_subtitle">Installed stylesheet tools:</h2>
          <ul class="list-inline">
            <li><a href="http://compass-style.org/" target="_blank">Compass</a>,</li>
            <li><a href="http://bourbon.io/" target="_blank">Bourbon</a>,</li>
            <li><a href="http://neat.bourbon.io/" target="_blank">Bourbon Neat</a>,</li>
            <li><a href="https://github.com/appleboy/normalize.scss/" target="_blank">Normalize.scss</a></li>
          </ul>
          <h2 class="banner_subtitle">Got a question? Wanna forky forky?</h2>
          <p>Check out <a href="https://github.com/robertpataki/generator-sizzle" class="link" target="_blank">Sizzle on Github</a>, or read this <a href="http://blog.robertpataki.com/blog/2014/12/19/generator-sizzle/" target="_blank">blog post</a>.</p>
          <p>Have fun!</p>
        </div>
      </section>
    </div>

    <!-- build:js({.tmp}) scripts/application.js -->
    <script type="text/javascript" src="scripts/application.js"></script>
    <!-- endbuild -->
  </body>
</html>
